{{# standard layout file for the homepage #}}
<section>
    <div>
        <img class="w-full h-auto" src="assets/img/DOKano.svg" alt="DOKano Image">
        <img class="absolute w-[40%] top-40 left-1/2 transform -translate-x-1/2" src="assets/img/logo.svg" alt="Logo">
    </div>
    
    <div class="flex flex-col mx-auto mt-[-24rem] text-center">
        <h1 class="text-[36px] font-standard">
            {{ title }}
        </h1>
        <span class="text-[20px] font-standard">
            {{ teaser }}
        </span>
        <p class="mx-auto font-standard md:max-w-[30rem] w-full px-2">
            {{ hometext }}
        </p>
    </div>

    <section class="mt-[10rem] relative">
        <div class="gap-2 overflow-x-auto flex snap-x scroll-smooth mx-auto max-w-[40rem]">
          {{ collection:evenementen limit="3"}}
          <a href="{{ url }}" class="relative min-w-full px-[2rem] py-[1rem] snap-center">
            <div>
              <img class="max-w-[40rem] w-full h-[17rem] object-cover" src="{{ panel_image.url }}" alt="{{ panel_image.alt }}">
            </div>
            <div>
              <h3 class="font-standard text-[24px] font-bold">{{ title }}</h3>
              <p>{{ beschrijving }}</p>
            </div>
          </a>
          {{ /collection:evenementen }}
        </div>
        <div class="flex justify-center mt-[3rem]">
          <a href="#" class=" hover:bg-standards-black hover:text-standards-white transition duration-300 ease-in-out inline-block text-standards-black font-bold py-2 px-4 rounded-full border border-standards-black">Meer evenementen</a>
        </div>
      </section>

      <section class="relative">
        <img class="h-[30rem] absolute left-[-10rem] top-[115rem] z-[-1]" src="assets/img/dolphin_left.svg" alt="dolphin">
      </section>

      <section class="relative mt-[8rem]">
        <h2 class="text-center font-standard font-bold text-[36px]">Onze kanos</h2>
        <img class="absolute w-[110rem] top-[11rem] z-[-1] hidden md:block" src="assets/img/wave.svg" alt="canoe wave">
        <div class="flex flex-wrap justify-center gap-[4rem] mt-[8rem]">
            {{ collection:kanos limit="3" }}
                <div class="max-w-[13.3rem] w-full">
                    <img class="max-w-[20rem] w-full" src="{{ kano_image.url }}" alt="{{ kano_image.alt }}">
                    <h3 class="text-center font-standard text-2xl">{{ name }}</h3> 
                    <p class="text-center font-alternative text-sm">{{ info }}</p>
                </div>
            {{ /collection:kanos }}
        </div>
      </section>

      <section class="max-w-[40rem] mt-[7rem] w-full mx-auto flex flex-col justify-center">
        <h2 class="text-[60px] text-DOKano-yellow text-center font-alternative">{{title_drijfvuil}}</h2>
        <h3 class="text-[36px] font-bold text-center font-standard">{{teaser_drijfvuil}}</h3>
        <p class="mt-[1.5rem] font-alternative">{{text_drijfvuil}}</p>
      </section>

  <section class="mt-[7rem] relative">
    <div class="gap-2 overflow-x-auto flex snap-x scroll-smooth mx-auto max-w-[50rem]">
      {{ activity_photos }}
        <img class="min-w-full snap-center relative  h-[30rem] object-cover w-full mx-auto" src="{{ url }}" alt="{{ alt }}">
      {{ /activity_photos }}
    </div>
  </section>

  <section class="mt-[7rem]">
    <h2 class="text-center font-standard text-[36px]">Scoreboard</h2>
    {{ collection:scoreboard limit="6" }}

    <div class="max-w-[50rem] w-full mx-auto">
      {{ teams }}
      <div class="flex sm:gap-[4rem] sm:mb-0 mb-[5rem] flex-wrap justify-center items-center">
  
          <img class="max-w-[5rem] sm:block hidden w-full h-[5rem]" src="assets/img/Crown.svg" alt="crown">
  
          {{ if team_photo:url }}
            <img class="max-w-[5rem] w-full h-[5rem] rounded-full" src="{{ team_photo:url }}" alt="{{ team_photo:alt }}">
          {{ else }}
            <img class="max-w-[5rem] w-full h-[5rem] rounded-full" src="assets/img/DOKano.svg" alt="dokano">
          {{ /if }}
  
          <div class="flex flex-wrap items-center justify-center max-w-[20rem] w-full">
            <span>{{ naam }} - </span>
            <span>{{ kilogram }}</span>
          </div>
  
      </div>
      {{ /teams }}
    </div>
    {{ /collection:scoreboard }}
  </section>
</section>