{{# standard layout file for the site #}}

<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <title>{{ title ?? site:name }}</title>
    </head>
    <body class="font-sans overflow-x-hidden leading-normal text-gray-800">
        <header class="">
            {{ partial:nav }}
        </header>
        <div>
            {{ template_content }}
        </div>
        <footer>
            {{ partial:footer }}
        </footer>
        {{ vite src="resources/js/formuleKano.js" }}
        {{ vite src="resources/js/time.js" }}
        {{ vite src="resources/js/canoeChecker.js" }}
        {{ vite src="resources/js/bookingPages.js" }}
        {{ vite src="resources/js/overview.js" }}
        {{ vite src="resources/js/hamburger.js" }}
        {{# gsap #}}
        {{ vite src="resources/js/gsap/listFadeLeft.js" }}
        {{ vite src="resources/js/gsap/fadeUp.js" }}
        {{ vite src="resources/js/gsap/listFade.js" }}
        {{ vite src="resources/js/gsap/loading.js"  }}

        {{ vite src="resources/js/gsap/app.js"}}
    </body>
</html>
