{{# standard layout file for the site #}}

<!doctype html>
{{ if response_code == 404}}
<html class="footerbg" lang="{{ site:short_locale }}">
{{else}}
<html lang="{{ site:short_locale }}">
{{/if}}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" />
        <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/favicon/site.webmanifest">
        <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>{{ title ?? site:name }}</title>
    </head>
    <body class="font-sans overflow-x-hidden leading-normal text-gray-800">
        <header class="">
            {{ partial:nav }}
        </header>
        <div>
            {{ template_content }}
        </div>
        <footer>
            {{ if response_code == 404}}
            {{ else }}
                {{ partial:footer }}
            {{ /if }}
        </footer>
        {{ vite src="resources/js/time.js" }}
        {{ vite src="resources/js/canoeChecker.js" }}
        {{ vite src="resources/js/bookingPages.js" }}
        {{ vite src="resources/js/overview.js" }}
        {{ vite src="resources/js/hamburger.js" }}
        {{# gsap #}}
        {{ vite src="resources/js/gsap/listFadeLeft.js" }}
        {{ vite src="resources/js/gsap/fadeUp.js" }}
        {{ vite src="resources/js/gsap/listFade.js" }}
        {{ vite src="resources/js/gsap/loading.js"  }}

        {{ vite src="resources/js/gsap/app.js"}}
    </body>
</html>
