<img class="w-full" src="assets/img/footer.svg" alt="footer wave">
<section class="flex justify-around bg-DOKano-lightblue p-5 text-standards-white">
    <div>
        <div class="mb-3">
            Kapitein Zeppospark<br>
            9000 Gent
        </div>

        <div>
            Za en Zo: 13:00 - 17:00 <br>
            Di: 9:00 - 16:00
        </div>

    </div>

    <div>
        <ul class="flex gap-6 mt-[5rem]">
            <li><a href=""><img src="assets/img/facebook.svg" alt="facebook logo"></a></li>
            <li><a href=""><img src="assets/img/instagram.svg" alt="instagram logo"></a></li>
        </ul>
    </div>

    <nav>
        <ul> 
                    {{ nav:footer }}
                            <li class="ml-[3rem]"><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:footer }}
        </ul>
    </nav>
</section>
