<nav class="bg-DOKano-lightblue p-5 text-standards-white">
    <ul class="flex items-center justify-around"> 
            <div>
                <li class="w-[8rem]"><a href="/"><img src="assets/img/logo.svg"></a></li>
            </div>
            <div class="flex items-center">
                {{ nav:navigation }}
                        <li class="ml-[3rem]"><a href="{{ url }}">{{ title }}</a></li>
                {{ /nav:navigation }}

                <li><a class="ml-[3rem] px-4 py-3 bg-DOKano-yellow hover:bg-amber-500 transition-all ease-linear rounded-[20rem]" href="/boeking">Boeking</a></li>
            </div>
    </ul>
</nav>